@using LayoutLibrary.Models
@using LayoutLibrary.Shared.Layout
@using Microsoft.AspNetCore.Components.Routing
@inject ILayoutConfig LayoutConfig

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <img src="../images/bth_logotyp_vit_30px.png" />
        <a class="navbar-brand" href="">CMTools 2.0</a>
    </div>
</div>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Homeie
            </NavLink>
        </div>
    </nav>
</div>

<style>
    .navbar {
        background: linear-gradient(@LayoutConfig.Sidebar.StartColor, @LayoutConfig.Sidebar.EndColor);
    }
</style>

